gevent
six
fabric
Flask
alembic
cssmin
pytz
billiard
kombu
amqp
anyjson
celery
jsmin
douban-client
evernote
gunicorn
SQLAlchemy
pylibmc
redis
raven
mistune
pygments
Flask-Session
Flask-WTF
Flask-Cache
Flask-SQLAlchemy
Flask-DjangoQuery
Flask-Login
Flask-Script
Flask-Migrate
Flask-DebugToolbar
Flask-Failsafe
Flask-Turbolinks
Flask-Assets
Flask-Mail
Flask-Limiter
--allow-external mysql-connector-python
--allow-unverified mysql-connector-python
mysql-connector-python