six
fabric
Flask
alembic
cssmin
pytz
billiard
kombu
celery
jsmin
douban-client
evernote
gunicorn
livereload
coverage
SqlAlchemy
pylibmc
nose
Flask-WTF
Flask-Cache
Flask-SqlAlchemy
Flask-DjangoQuery
Flask-Login
Flask-Script
Flask-Migrate
Flask-DebugToolbar
Flask-Failsafe
Flask-Turbolinks
Flask-Assets
Flask-Mail
http://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-1.1.6.zip#md5=026e4a4b8731da33d73f0542349594fd