{% macro form_field(field) %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
    {{ field.label }}
    {% if field.description %}
      {{ field(placeholder=field.description, class_='form-control') }}
    {% else %}
      {{ field(placeholder=field.label.text, class='form-control') }}
    {% endif %}
    {% if field.errors %}
      <p class="help-block">{{ field.errors[0] }}</p>
    {% endif %}
  </div>
{% endmacro %}

{% macro checkbox_field(field) %}
  <div class="form-group">
    <div class="checkbox">
      {{ field }}
      {{ field.label }}
    </div>
  </div>
{% endmacro %}

{% macro radio_field(field) %}
    <div class="form-group">
    {{ field.label }}&nbsp;&nbsp;
    {% for subfield in field %}
        <label class="radio-inline">
        {{ subfield }}
        {{ subfield.label }}
        </label>
    {% endfor %}
    </div>
{% endmacro %}

{% macro render_pagination(pagination, endpoint) %}
    <div class="pagination">
        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <a href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
                {% else %}
                    <span class="current">{{ page }}</span>
                {% endif %}
            {% else %}
                <span class="ellipsis">…</span>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}