a:link {
    text-decoration: none;
    color: #396;
}
a:visited {
    text-decoration: none;
    color: #669;
}
.eb-navbar {
    background: #f6faf9;
    border-top: 4px solid #2aac5e;
    border-bottom: 1px solid #eee;
}
.eb-navbar a:visited {
    color: #396;
}
.eb-navbar li a:hover {
    background-color: #2aac5e;
    color: #fff;
}
.eb-navbar .navbar-toggle .icon-bar {
  background-color: #396;
}

.eb-main a:hover {
    text-decoration: none;
    background-color: #396;
    color: #fff;
}

@media (min-width: 992px) {
    .everbean .container {
        width: 960px;
    }
}