a:link {
    text-decoration: none;
    color: #396;
}
a:visited {
    text-decoration: none;
    color: #669;
}
#content {
    height: 120px;
}
.book-list {
    padding-left: 0;
}
.book {
    position: relative;
    float: left;
    width: 90px;
    margin: 0 18px 20px 0;
    list-style: none;
}
.book:nth-child(6n), .book:last-child {
        margin-right: 0;
}
.book .book-title a {
    color: #37a;
}
.book .book-title a:hover {
    color: #37a;
}
.book .book-title h3 {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .book-cover {
    width: 90px;
    height: 140px;
    margin-bottom: 12px;
}
.book .book-cover img {
    width: 90px;
    height: 140px;
}
.book-title {
    margin-top: 0;
    font-size: 20px;
}
.book-intro span {
    font-size: 12px;
    margin-right: 5px;
    color: #666;
}
.note-list {
    padding-left: 0;
}
.note {
    position: relative;
    list-style: none;
    margin-bottom: 10px;
}
.note .note-content blockquote {
    font-size: 14px;
    margin-bottom: 0;
}
.note .note-meta time {
    color: #808080;
    font-size: 12px;
}
.note .note-meta .note-douban {
    position: absolute;
    right: 0;
    border-bottom: 0;
    background: none;
}

.eb-book-info ul {
    padding-left: 0;
    text-align: center;
}
.eb-book-info .book {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.everbean img.avatar {
    border-radius: 100px;
}
.everbean img.avatar-large {
    width: 120px;
    height: 120px;
}
.eb-navbar {
    background: #f6faf9;
    border-top: 4px solid #2aac5e;
    border-bottom: 1px solid #eee;
}
.eb-navbar a:visited {
    color: #396;
}
.eb-navbar li a:hover, .eb-navbar li.active a {
    background-color: #2aac5e;
    color: #fff;
}
.eb-navbar .navbar-toggle .icon-bar {
  background-color: #396;
}
.eb-navbar #loading {
    display: none;
    width: 16px;
    height: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -8px;
}
.eb-navbar img.avatar-small {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.eb-main a:hover {
    text-decoration: none;
    background-color: #396;
    color: #fff;
}
.eb-main a.logo {
    background: none;
    margin-bottom: 20px;
    padding: 10px 0 30px;
    border-bottom: 1px solid #eee;
}

.eb-box {
    margin-bottom: 20px;
    background-color: #fff;
}
.eb-box .eb-box-inner {
    padding: 10px 0;
}

.eb-box > header {
    position: relative;
    text-align: left;
    padding: 10px 0;
}

.eb-box > header > .eb-box-close {
    padding: 0;
    margin-right: 10px;
    margin-top: -3px;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.eb-sidebar .book {
    margin-right: 44px;
    width: 64px;
}
.eb-sidebar .book .book-cover {
    width: 64px;
    height: 100px;
}
.eb-sidebar .book .book-cover img {
    width: 64px;
    height: 100px;
}

.eb-footer {
    background: #f6faf9;
    border-top: 1px solid #eee;
    padding: 20px 0;
    color: #aaa;
}
.eb-footer a {
    color: #aaa;
    font-size: 16px;
}
.eb-footer span.author {
    font-size: 18px;
    font-weight: bold;
}
.eb-footer .glyphicon-chevron-right {
    margin-left: -6px;
}

@media (min-width: 768px) {
    .eb-box {
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 1px 0 #ccc;
    }
    .eb-box > header {
        padding: 10px 0 10px 10px;
        background-color: #f6faf9;
        border-radius: 5px;
    }
    .eb-box .eb-box-inner {
        padding: 20px;
    }
    .everbean {
        background-color: #eee;
    }
    .book {
        margin-right: 21px;
    }
    .eb-sidebar .book {
        margin-right: 52px;
    }
    .eb-sidebar .book:nth-child(3n) {
        margin-right: 52px;
    }
    .eb-sidebar .book:last-child {
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .everbean .container {
        width: 970px;
    }
    .book {
        margin-right: 65px;
    }
    .eb-sidebar .book {
        margin-right: 24px;
    }
    .eb-sidebar .book:nth-child(3n) {
        margin-right: 0;
    }
}