{% extends 'layout.html' %}
{% block title %}关于 Everbean{% endblock %}
{% block main %}
<div class="eb-content">
    <div class="eb-box">
        <header><span class="glyphicon glyphicon-info-sign"></span> 关于 Everbean</header>
        <section class="eb-box-inner">
            <p>Everbean 是一个同步豆瓣读书笔记到 Evernote/印象笔记 的服务。</p>
            <p>Everbean 是一个开放源代码的项目，遵循 <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a> 开源协议，你可以在 <a href="https://github.com/messense/everbean" target="_blank">GitHub</a> 上获取项目的源代码，欢迎 Fork/Pull Requests 贡献代码。</p>
            <br/>
            <p id="donate">如果本项目对您有帮助，请捐助让这个服务越变越好：</p>
            <p class="text-center"><img src="{{ static_url('images/qr.png') }}" alt="" /></p>
            <p class="text-warning"><small>所有的捐助都会用于服务器费用的开支。</small></p>
        </section>
        <footer>
            <p class="text-right text-info"><small>Current running everbean version: {{ version }}</small></p>
        </footer>
    </div>
</div>
{% endblock %}
