{% extends 'layout.html' %}
{% block title %}{{ book.title }} - Everbean{% endblock %}
{% block main %}
<div class="eb-content col-md-8">
    <div class="eb-box">
        <header><span class="glyphicon glyphicon-book"></span> 书籍详情</header>
        <div class="eb-box-inner">
            <section class="book-info clearfix">
                <div class="book-cover col-xs-5 col-md-3">
                    <img src="{{ book.cover|medium_book_cover }}" />
                </div>
                <div class="book-intro col-xs-7 col-md-9">
                    <h3 class="book-title">{{ book.title }}</h3>
                    <p class="book-author">
                        <span>作者</span> {{ book.author }}
                    </p>
                    <p>
                        <span>出版日期</span> {{ book.pubdate }}
                    </p>
                    <p>
                        <span>豆瓣链接</span>
                        <a href="{{ book.alt }}" title="豆瓣页面" target="_blank">{{ book.douban_id }}</a>
                    </p>
                </div>
            </section>
        </div>
    </div>
    <div class="eb-box eb-notes">
        <header><span class="glyphicon glyphicon-bookmark"></span> 最近的笔记</header>
        <div class="eb-box-inner">
            {% if notes %}
            <ul class="note-list">
            {% for note in notes %}
            <li class="note" id="note-{{ note.id }}">
                <div class="note-chapter">
                    <a href="{{ url_for('note.index', note_id=note.id) }}">
                        {% if note.chapter %}{{ note.chapter }}{% else %}第 {{ note.page_no }} 页{% endif %}
                    </a>&nbsp;<span style="font-size: 12px; color: #666;">by</span>&nbsp;
                    <a href="{{ note.user.absolute_url }}" title="{{ note.user.douban_name }}">
                        <img class="avatar avatar-small" src="{{ note.user.avatar }}" alt="">
                        <span class="user-name">{{ note.user.douban_name }}</span>
                    </a>
                </div>
                <div class="note-content">{{ note.content_html|safe }}</div>
                <div class="note-meta">
                    <time datetime="{{ note.created.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                        {{ note.created.strftime('%Y-%m-%d %H:%M:%S') }}
                    </time>
                    {% if note.douban_id %}
                    <a class="note-douban" href="{{ note.alt }}" title="豆瓣笔记页面" target="_blank">
                        <img width="16" height="16" src="{{ static_url('images/douban_icon_32.png') }}" alt="" />
                    </a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
            </ul>
            {% else %}
            <p>本书暂时没有笔记。</p>
            {% endif %}
        </div>
    </div>
</div>
<div class="eb-sidebar col-md-4">
{% if current_user.is_authenticated() %}
    <div class="eb-box">
        <header><span class="glyphicon glyphicon-user"></span> 操作</header>
        <section class="eb-box-inner">
            <a class="btn btn-default" href="{{ url_for('note.create', book_id=book.id) }}">撰写笔记</a>
            <a class="btn btn-default" data-no-turbolink target="_blank" href="{{ url_for('book.preview', book_id=book.id, uid=current_user.douban_uid) }}">预览笔记</a>
        </section>
    </div>
{% endif %}
{% if users.noted %}
    <div class="eb-box eb-books eb-books-reading">
         <header><span class="glyphicon glyphicon-user"></span> 写过笔记的用户</header>
         <section class="eb-box-inner">
            <ul class="user-list clearfix">
             {% for user in users.noted %}
             <li class="user">
                <a href="{{ user.absolute_url }}" title="{{ user.douban_name }}">
                    <img src="{{ user.avatar }}" alt="">
                    <p class="user-name">{{ user.douban_name }}</p>
                </a>
             </li>
             {% endfor %}
             </ul>
         </section>
    </div>
{% endif %}
{% if users.reading %}
    <div class="eb-box eb-books eb-books-reading">
         <header><span class="glyphicon glyphicon-user"></span> 在读的用户</header>
         <section class="eb-box-inner">
            <ul class="user-list clearfix">
             {% for user in users.reading %}
             <li class="user">
                <a href="{{ user.absolute_url }}" title="{{ user.douban_name }}">
                    <img src="{{ user.avatar }}" alt="">
                    <p class="user-name">{{ user.douban_name }}</p>
                </a>
             </li>
             {% endfor %}
             </ul>
         </section>
    </div>
{% endif %}
{% if users.wish %}
    <div class="eb-box eb-books eb-books-reading">
         <header><span class="glyphicon glyphicon-user"></span> 想读的用户</header>
         <section class="eb-box-inner">
            <ul class="user-list clearfix">
             {% for user in users.wish %}
             <li class="user">
                <a href="{{ user.absolute_url }}" title="{{ user.douban_name }}">
                    <img src="{{ user.avatar }}" alt="">
                    <p class="user-name">{{ user.douban_name }}</p>
                </a>
             </li>
             {% endfor %}
             </ul>
         </section>
    </div>
{% endif %}
{% if users.read %}
    <div class="eb-box eb-books eb-books-reading">
         <header><span class="glyphicon glyphicon-user"></span> 读过的用户</header>
         <section class="eb-box-inner">
            <ul class="user-list clearfix">
             {% for user in users.read %}
             <li class="user">
                <a href="{{ user.absolute_url }}" title="{{ user.douban_name }}">
                    <img src="{{ user.avatar }}" alt="">
                    <p class="user-name">{{ user.douban_name }}</p>
                </a>
             </li>
             {% endfor %}
             </ul>
         </section>
    </div>
{% endif %}
</div>
{% endblock %}